GOOGLE_MAPS_API_KEY=your_google_maps_api_key # Google Maps API key, যা Google Cloud Console থেকে পেতে হবে

EMAIL_USER=*****@gmail.com   
EMAIL_PASS=*******

R2_ACCESS_KEY=*************************************************     # R2 (Cloudflare R2) এর Access Key
R2_SECRET_KEY=**************************************************    # R2 (Cloudflare R2) এর Secret Key
R2_ENDPOINT=https://*******************.r2.cloudflarestorage.com    # R2 (Cloudflare R2) এর Endpoint URL
R2_BUCKET=fieldforce                                                            # R2 (Cloudflare R2) এর Bucket Name

# ---------- Server ----------
PORT=8000                          
NODE_ENV=development               

# ---------- Database (Neon Postgres) ----------
DATABASE_URL=postgresql://neondb_owner:**************@**************.c-8.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# ---------- Redis (Upstash) ----------
REDIS_URL=rediss://default:**************@***********.upstash.io:6379
# ---------- Auth ----------

SESSION_SECRET=replace_this_with_random_string

# ---------- CORS ----------
CLIENT_ORIGIN=http://localhost:3000
